---
//import Welcome from '../components/Welcome.astro';
import Trabajo from '../components/Trabajo.astro';
import Layout from '../layouts/Layout.astro';

//CREAR CV EN INDEX

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<Layout>

  <div class="container">
    <!-- Columna izquierda -->
    <div class="left">
      <img src="usuario.png" class="img-yo">
      <h2>Aldair Chávez</h2>
      <p><strong>BECARIO PROGRMADOR JR</strong></p>
      <p>📧 chavezaldair01@gmail.com</p>
      <p>📞 +52 5614965402</p>
      <p>📍 Zumpango,Estado. de México</p>
      <p>🔗 linkedin.com/in/aldairdev</p>

      <h2>PERFIL</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum autem sit neque a dolor 
        veritatis quod iste nisi, necessitatibus magnam quidem aspernatur facilis distinctio 
        deserunt non quis nam unde culpa.</p>

      <h2>HABILIDADES</h2>
      <ul>
        <li>Comunicación efectiva</li>
        <li>Liderazgo</li>
        <li>Creatividad</li>
        <li>Desarrollo Web</li>
        <li>Java</li>
        <li>Python</li>
        <li>PHP</li>
        <li>JavaScript</li>
        <li>SQL</li>
        <li>Hablar en público</li>
      </ul>

      <h2>IDIOMAS</h2>
      <ul>
        <li>Español: nativo</li>
        <li>Inglés: intermedio</li>
      </ul>
    </div>

    <!-- Columna derecha -->
    <div class="right">
      <h2>EXPERIENCIA LABORAL</h2>

      <Trabajo nombre="CORPORATIVO PYCESA" periodo="2024 - ACTUALIDAD"></Trabajo>

      <Trabajo nombre="DESARROLLADOR WEB" periodo="2020 - 2023"></Trabajo>

      <Trabajo nombre="ASISTENTE DE KEMONITO" periodo="2018 - 2019"></Trabajo>

      <h2>EDUCACIÓN</h2>
      <p><strong>Lic. Informática Administrativa</strong> – CUUT (2024 – Actualidad)</p>
      <p><strong>TSU Desarrollo de Software Multiplataforma</strong> – UTTEC (2021 – 2024)</p>
      <p><strong>Técnico en Programación</strong> – CECYTEM (2016 – 2019)</p>
      </p>
    </div>
  </div>
	
</Layout>

  <style>

    .container {
      display: flex;
      max-width: 1000px;
      margin: 20px auto;
      background: white;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    .left, .right {
      padding: 20px;
    }

    .left {
      width: 35%;
      background: #e6f0ff; 
    }

    .right {
      width: 65%;
    }

    .img-yo {
      width: 100%;
      border-radius: 8px;
    }

    h2 {
      margin-top: 20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
      font-size: 18px;
    }

    p, li {
      font-size: 14px;
    }

    ul {
      padding-left: 20px;
    }

    .trabajo {
      font-weight: bold;
      margin-top: 10px;
    }

    .periodo {
      color: #007BFF;
    }
  </style>
