---
//import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

//CREAR CV EN INDEX

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<Layout>
	<div >
		<form class="container fondo_yo">
			<h3>Alan Aldair Chávez Hernández</h3>
		</form>
	</div>
	
</Layout>

<style>
	.cv{
		background: white;
		border: 3px solid black;
		margin-top: 40px;
		height: auto;
		max-width: 1300px;
	}

	hr{
    border-top: 7px solid black;
    width: 50%;
    margin: 0 auto;
	}

	.fondo_yo{
    background: white;
    margin-top: 40px;
    border: 2px solid silver;
    height: auto;
    max-width: 1300px;
}
</style>
