---
//import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

//CREAR CV EN INDEX

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<Layout>
	<table class="table table-danger table-hover table-bordered border-dark" >
		<!--FILA 1-->
		<tr>
			<td>NOMBRE</td>
			<td>EDAD</td>
			<td>CORREO</td>
			<td>RFC</td>
			<td>DIRECCION</td>
		</tr>
		<!-- FILA 2 -->
		<tr>
			<td>POSICION</td>
			<td>LIGA</td>
			<td>EQUIPO</td>
			<td>TROFEOS</td>
		</tr>
	</table>
</Layout>
